<h3>本当に退会しますか？</h3>
<div>
     退会すると、会員情報や<br>
     これまでの購入履歴が閲覧できなくなります。<br>
     退会する場合は、「退会する」をクリックしてください。<br>
</div>

<%= link_to "退会しない", customers_my_page_path %>
<%= link_to "退会する", customers_withdrawl_path, method: :patch, "data-confirm" => "本当に退会しますか？" %>
