<div>
ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。
</div>
<h3>新着商品</h3>

<tbody>
<% @items.each do |item| %>
<tr>
 <td><%= attachment_image_tag item, :image, size: "100x100", format: 'jpeg' %></td>
 <td><%= link_to item.name, item_path(item.id) %></td>

 <td><%= item.price %></td>
</tr>
<% end %>
<%= link_to "全ての商品を見る", items_path %>
</tbody>